/* .footer{
    display:flex;
    margin-top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-top: black ;
    background-color: white;
    font-size: 15px;
    
}

.a-footer{
    text-decoration: none;
    justify-content: center;
    margin: 2rem;
    color:black;
    object-fit: cover;
    width: 3%;
    height: 100%;
}

span{
    color:#53606A;
} */