.star {
  font-size: 25px;
    color:gray;
    
}
.star:hover{
  color:gold;
}
.iconmarvel{
  margin-left: 2em;
}


div{
    background-color: white;
  }
  p{
    position: absolute;
    bottom: 0px;
    padding: 5px;
    overflow: hidden;
    font-size: 1em;
    color: white;
    background-color: rgba(24, 41, 41, 0.7);
    width: 100%;
    height: 2em;
     
  }
  .shadows:hover {
    box-shadow: 2px 2px 4px 4px rgb(3, 158, 230);
  }
  a {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .btn-transparent{
    position: absolute;
    left: 80%;
    overflow: hidden;
    background-color: rgba(24, 41, 41, 0.7);
    width: 3em;
    height: 3em;
  }
  .star-card {
      color:gray;
      
  }
  .star-card:hover{
    color:gold;
  }

  
  .footer{
    display:flex;
    margin-top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    border-top: black ;
    background-color: white;
    font-size: 15px;
    
}

.a-footer{
    text-decoration: none;
    justify-content: center;
    margin: 2rem;
    color:black;
    object-fit: cover;
    width: 3%;
    height: 100%;
}

span{
    color:#53606A;
}